/***************************
        VOTRE CSS
****************************/

body {
  background-color: white;
  border-style: solid;
  border-color: grey;
}
main {
  width: 1100px;
  margin: auto;
  border-style: solid;
  border-color: black;
}
header {
  font-style: italic;
  text-align: left;
  color:white;
  background-repeat: no-repeat;
  background: url("./img/image-499666622.jpg");
  background-size: cover;
  margin-left: -190px;
  margin-right: -190px;
  height: 400px;
  margin-top: 0px;
}

#logo{
  margin-left:180px;
}
.entete{
  position: absolute;
  top: 2%;
  margin-left: 40%;
  text-align: right;
  color: white;
  font-family: "Roboto Slab",serif;
  background-color: none;
  margin-top: 0px;
  margin-left: 640px;
  width: 850px;
}

nav {
  margin-top: 0px;
  margin-left: 640px;
  width: 850px;
  color: white;
}

li{
  display: inline;
  letter-spacing: 3px;
}
a:hover
a:focus{
  color: white;
  text-decoration: underline;
}
.intro{
  margin-top: 70px;
  margin-left: 180px;
}
.intro2{
margin-left: 180px;
}

button {
  margin-top: 50px;
  margin-left: 180px;
  color: white;
  background-color: orange;
  background-size: cover;
}

section1{
	width: 100%;
	margin-top: 50px;
	height: 600px;
}

article1{
}

.imggroupe1{
  display: inline-flex;
}

.imgicon{
  padding-right: 40px;
  padding-left: 20px;
}

.txt1{
}

.img{
width: 80%;
margin-top: 15px;
}

.txt2{
}

.imggroupe2{
  display: inline-flex;
}

.txt3{
}

.txt4{
}

section2{
  width: 100%;
  margin-top: 50px;
  height: 600px;
}
article2{
}

.nav2{
  text-align:left;
  font-style: italic;
}

.gr1{
  display: inline-flex;

}
.gr2{
  display: inline-flex;
}

#ptitre1{
  color: blue;
}

footer {
	width: 100px;
	margin-top: 100px;
	height: 100px;
}
